* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */

header {
	width: 100%;
	background: url('../img/bg.jpg') #281a0c;
	background-size:cover;
	background-attachment: fixed;
	background-position: center 0;
}

header .contenedor {
	position: relative;
	height: 700px;
}

header .menu {
	width: 100%;
	text-align: right;
}

header .menu a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}

header .menu a:hover {
	text-decoration: underline;
}

header .textos {
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top:-52px;
}

header .textos .nombre {
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span {
	font-weight: 300;
}

header .textos h3 {
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}